#  ASSIGNMENT-1_WEB SCRAPING_using BeautifulSoup :-

- BeautifulSoup Documentation = https://www.crummy.com/software/BeautifulSoup/bs4/doc/

**In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per
the requirement of the question.**

**Every answer to the question should be in form of a python function which should take URL as the parameter.
Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the Jupyter notebook to
your SME.**

In [1]:
# INSTALLING REQUIRED LIBRARIES:

!pip install bs4
!pip install requests
!pip install html5lib

Requirement already satisfied: bs4 in c:\users\lenovo\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: html5lib in c:\users\lenovo\anaconda3\lib\site-packages (1.0b8)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from html5lib) (1.16.0)

In [1]:
# IMPORTING REQUIRED LIBRARIES:

from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1) Write a python program to display **all the header tags** from wikipedia.org.

In [5]:
# Requesting web page to get access of the source code.

url1 = requests.get('https://en.wikipedia.org/wiki/Main_Page')
url1 # <Response [200]>: Access Granted.

In [6]:
# Getting Full Page's Content of wikipedia.org/wiki/Main_Page.

soup1 = BeautifulSoup(url1.content)
#print(soup)

In [8]:
# Scrapping all the Header tags:

header1= [i.text for i in soup1.find_all(class_="mw-headline")]
#header1

In [9]:
df1 = pd.DataFrame({"HEADERS": header1})
df1.index += 1
df1

                         HEADERS
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [10]:
# Saving url:
url2 = "https://www.imdb.com/list/ls091520106/"

# Requesting to obtain source code:
page2 = requests.get(url2) 

# Getting page content:
htmlContent2 = page2.content 
soup2 = BeautifulSoup(htmlContent2,'html.parser')

In [11]:
# name, rating, year of release

In [12]:
title1 = BeautifulSoup('<a href="/title/tt0111161/?ref_=ttls_li_tt">The Shawshank Redemption</a>','html.parser')
title1.text

'The Shawshank Redemption'

In [13]:
# top Movies name

name = soup2.find_all("h3", class_="lister-item-header")

# get text from movie name web elements

movies_name = [] #empty list

for i in name:

    for j in i.find_all("a"):

        movies_name.append(j.text)
        
#movies_name

In [14]:
# IMDB-Ratings:

num = soup2.find_all('div',class_="ipl-rating-star small")

rating = []

for n in num:
    for r in n.find_all("span",class_="ipl-rating-star__rating"):
        rating.append(r.text)
    
#rating

In [15]:
# Year of Release: span  class="lister-item-year text-muted unbold"

YoR=[i.text for i in soup2.find_all(class_="lister-item-year text-muted unbold")]
#YoR

In [16]:
# Check Length before constructing the table.
print(len(movies_name),len(rating),len(YoR))

100 100 100

In [17]:
# Forming DataFrame:

df2 = pd.DataFrame({'Movie name':movies_name, 'Movie Rating':rating, 'Year of Release':YoR})
df2.index += 1
df2

                              Movie name Movie Rating Year of Release
1               The Shawshank Redemption          9.3          (1994)
2                          The Godfather          9.2          (1972)
3                  The Godfather Part II            9          (1974)
4                        The Dark Knight            9          (2008)
5                           12 Angry Men            9          (1957)
..                                   ...          ...             ...
96                    North by Northwest          8.3          (1959)
97                    A Clockwork Orange          8.3          (1971)
98                                Snatch          8.2          (2000)
99   Le fabuleux destin d'Amélie Poulain          8.3          (2001)
100                              The Kid          8.3          (1921)

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [18]:
# Saving url:
url3 = "https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1"

# Requesting to obtain source code:
page3 = requests.get(url3) 

# Getting page content:
htmlContent3 = page3.content 
soup3 = BeautifulSoup(htmlContent3,'html.parser')

In [19]:
# Movie-Name:

name = soup3.find_all('td',class_="titleColumn",limit=100)

Movie_Name = []

for n in name:
    for r in n.find_all("a"):
        Movie_Name.append(r.text)
    
# Movie_Name

In [20]:
# IMDB-Ratings:

num = soup3.find_all('td',class_="ratingColumn imdbRating",limit=100)

rating = []

for n in num:
    for r in n.find_all("strong"):
        rating.append(r.text)
    
# rating

In [21]:
# year of release:

YoR = []

for i in soup3.find_all('span',class_="secondaryInfo", limit=100):
    YoR.append(i.text)

# YoR

In [22]:
print(len(Movie_Name),len(rating),len(YoR))

100 100 100

In [23]:
# Forming DataFrame:

df = pd.DataFrame({'Movie name':Movie_Name, 'Movie Rating':rating, 'Year of Release':YoR})
df.index += 1
df

                              Movie name Movie Rating Year of Release
1                                Kantara          8.5          (2022)
2    Ramayana: The Legend of Prince Rama          8.5          (1993)
3             Rocketry: The Nambi Effect          8.4          (2022)
4                                Nayakan          8.4          (1987)
5                             Anbe Sivam          8.4          (2003)
..                                   ...          ...             ...
96                           Ustad Hotel          8.0          (2012)
97              Theeran Adhigaaram Ondru          8.0          (2017)
98                       Rang De Basanti          8.0          (2006)
99           Baahubali 2: The Conclusion          8.0          (2017)
100                               Angoor          8.0          (1982)

[100 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [24]:
# Saving url:
url4 = "https://presidentofindia.nic.in/former-presidents.htm"

# Requesting to obtain source code:
page4 = requests.get(url4) 

# Getting page content:
htmlContent4 = page4.content 
soup4 = BeautifulSoup(htmlContent4,'html.parser')

In [25]:
# Presidents Of India List: 

PoI = []

for i in soup4.find_all('h3'):
    PoI.append(i.text)

#PoI

In [26]:
# TERM OF OFFICE:

In [27]:
Tenure = []

for i in soup4.find_all('p',limit=18):
    Tenure.append(i.text.replace("Term of Office: ","")) # .split(',')) Tenure.append(i.text[16:50]) .append(i.get_text().replace("\n","")) 
#Tenure

In [28]:
# Python program to remove multiple elements from a list
 
# given index of elements to be removed:
unwanted = [1,3,5,7]
 
for ele in sorted(unwanted, reverse = True):
    del Tenure[ele]
    
term = Tenure
#term

In [29]:
# Forming DataFrame:

df4 = pd.DataFrame({'Former_PoI':PoI, 'Term of Office':term})
df4.index += 1
df4

,Former_PoI,Term of Office
1,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
2,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
11,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
12,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
- a) Top 10 ODI **teams** in men’s cricket along with the records for **matches, points and rating**.
- b) Top 10 ODI **Batsmen** along with the records of their **team and rating**.
- c) Top 10 ODI **bowlers** along with the records of their **team and rating**.

**a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating**.

In [30]:
page5a = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page5a

In [31]:
soup5a = BeautifulSoup(page5a.content)
#soup5a

In [32]:
# Teams:

Team = []

for i in soup5a.find_all('span',class_="u-hide-phablet",limit=10):
    Team.append(i.text)

#Team

In [33]:
# Matches:

match1 = []

for i in soup5a.find_all('td',class_ = "rankings-block__banner--matches"):
    match1.append(i.text)

match2 = []

for i in soup5a.find_all('td',class_ = "table-body__cell u-center-text",limit=18):
    match2.append(i.text)

matches = match1 + match2[0::2]

#matches

In [34]:
# Points:

pts1 = []

for i in soup5a.find_all('td',class_ = "rankings-block__banner--points"):
    pts1.append(i.text)

pts2 = []

for i in soup5a.find_all('td',class_="table-body__cell u-center-text",limit=18):
    pts2.append(i.text)

points = pts1 + pts2[1::2]

#points

In [35]:
# Ratings:

rate1 = []

for i in soup5a.find_all('td',class_ = "rankings-block__banner--rating u-text-right"):
    rate1.append(i.text)
    
rate1[-1] = rate1[-1].strip()

rate2 = []

for i in soup5a.find_all('td',class_="table-body__cell u-text-right rating",limit=9):
    rate2.append(i.text)

ratings = rate1 + rate2

#ratings

In [36]:
print(len(ratings),len(points),len(matches),len(Team))

10 10 10 10

In [37]:
df5a = pd.DataFrame({'Teams' :Team,'Matches' : matches,'Points' : points,"Ratings" : ratings,})
df5a.index += 1
df5a.index.name = "TEAM_RANK"
df5a

                  Teams Matches Points Ratings
TEAM_RANK
1               England      27  3,226     119
2           New Zealand      22  2,508     114
3                 India      34  3,802     112
4              Pakistan      22  2,354     107
5             Australia      29  3,071     106
6          South Africa      24  2,392     100
7            Bangladesh      30  2,753      92
8             Sri Lanka      29  2,658      92
9           West Indies      41  2,902      71
10          Afghanistan      18  1,238      69

**b) Top 10 ODI Batsmen along with the records of their team and rating.**

In [38]:
page5b = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup5b = BeautifulSoup(page5b.content)

In [39]:
# Batsmen:

In [40]:
bat1 = []

for i in soup5b.find_all('div',class_ = "rankings-block__banner--name",limit=1):
    bat1.append(i.text)
#bat1

In [41]:
Batter = soup5b.find_all('td',class_="table-body__cell name",limit=9)

Batsmen = []

for i in Batter:
    for j in i.find_all("a"):
        Batsmen.append(j.text)
#Batsmen

In [42]:
best_batter = bat1 + Batsmen
#best_batter

In [43]:
# team:

In [44]:
team1 = []

for i in soup5b.find_all('div',class_ = "rankings-block__banner--nationality",limit=1):
    team1.append(i.text[2:5].replace("\n",""))
#team1

In [45]:
team_all = []

for i in soup5b.find_all('span',class_ = "table-body__logo-text",limit=9):
    team_all.append(i.text)
#team_all

In [46]:
Team = team1 + team_all
#Team

In [47]:
# rating:

In [48]:
rat1 = []

for i in soup5b.find_all('div',class_ = "rankings-block__banner--rating",limit=1):
    rat1.append(i.text)
#rat1

In [49]:
rat_all = []

for i in soup5b.find_all('td',class_ = "table-body__cell u-text-right rating",limit=9):
    rat_all.append(i.text)
#rat_all

In [50]:
Ratings = rat1 + rat_all
#Ratings

In [51]:
# DataFrame construction:

In [52]:
df5b = pd.DataFrame({'BATTER':best_batter,"COUNTRY":Team,'Ratings':Ratings})
df5b.index += 1
df5b.index.name = "BAT_RANK"
df5b

                         BATTER COUNTRY Ratings
BAT_RANK
1                    Babar Azam     PAK     890
2                   Imam-ul-Haq     PAK     779
3         Rassie van der Dussen      SA     766
4               Quinton de Kock      SA     759
5                Jonny Bairstow     ENG     732
6                  David Warner     AUS     725
7                   Virat Kohli     IND     722
8                  Rohit Sharma     IND     718
9                   Ross Taylor      NZ     701
10                  Steve Smith     AUS     697

**c) Top 10 ODI bowlers along with the records of their team and rating.**

In [53]:
# bowlers:

In [54]:
b1 = []

for i in soup5b.find_all('div',class_ = "rankings-block__banner--name"):
    b1.append(i.text.split(','))
bowl1 = b1[1]
#bowl1

In [55]:
bowl_all = []

for i in soup5b.find_all('td',class_ = "table-body__cell name"):
    bowl_all.append(i.text.replace("\n",""))
#bowl_all[9:18]

In [56]:
best__bowler = bowl1 + bowl_all[9:18]
#best__bowler

In [57]:
# team:

In [58]:
t1 = []

for i in soup5b.find_all('div',class_ = "rankings-block__banner--nationality"):
    t1.append(i.text[2:5].replace("\n","").split(','))
team1 = t1[1]
#team1

In [59]:
team_all = []

for i in soup5b.find_all('span',class_ = "table-body__logo-text"):
    team_all.append(i.text)
#team_all[9:18]

In [60]:
Team_bowl = team1 + team_all[9:18]
#Team_bowl

In [61]:
# rating:

In [62]:
r1 = []

for i in soup5b.find_all('div',class_ = "rankings-block__banner--rating"):
    r1.append(i.text.split(','))
rat1 = r1[1]
#rat1

In [63]:
rat_all = []

for i in soup5b.find_all('td',class_ = "table-body__cell u-text-right rating"):
    rat_all.append(i.text)
#rat_all[9:18]

In [64]:
Ratings_bowl = rat1 + rat_all[9:18]
#Ratings_bowl

In [65]:
# DataFrame construction:

In [66]:
df5c = pd.DataFrame({'BOWLER':best__bowler,"COUNTRY":Team_bowl,'Ratings':Ratings_bowl})
df5c.index += 1
df5c.index.name = "BOWL_RANK"
df5c

                     BOWLER COUNTRY Ratings
BOWL_RANK
1               Trent Boult      NZ     775
2            Josh Hazlewood     AUS     718
3          Mujeeb Ur Rahman     AFG     676
4            Shaheen Afridi     PAK     661
5             Mohammad Nabi     AFG     657
6              Mehedi Hasan     BAN     655
7                Matt Henry      NZ     654
8            Mitchell Starc     AUS     653
9               Rashid Khan     AFG     651
10           Jasprit Bumrah     IND     642

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
- a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
- b) Top 10 women’s ODI Batting players along with the records of their team and rating.
- c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

**a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.**

In [69]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

resp = requests.get(url)

SOUP= BeautifulSoup(resp.content, 'lxml')

# Creating empty list
Team=[]
Matches=[]
Points=[]
Rating=[]

# Extracting Team Name
Country = SOUP.find_all('span',class_="u-hide-phablet")
for i in Country:
    Team.append(i.get_text().replace("\n",""))
    Team=Team[0:10]
    
# Extracting No of Matches    
match=SOUP.find_all('td',class_='rankings-block__banner--matches')
matchs=SOUP.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs
for i in  mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]
    
# Extracting Points gain    
pt=SOUP.find_all('td',class_="rankings-block__banner--points")
pts= SOUP.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]
    
# Extracting Rating
rat=SOUP.find_all('td',class_="rankings-block__banner--rating")

rating = SOUP.find_all('td',class_="table-body__cell u-text-right rating")
RATING=rat + rating
for i in RATING:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
Rating

# Creating dataframe to store data
ODI=pd.DataFrame({})
ODI['Country']=Team
ODI['Matches']=Matches
ODI['Rating']=Rating
ODI['Points']=Points
ODI

,Country,Matches,Rating,Points
0,Australia,18,170 ...,"3,061"
1,South Africa,26,119,26
2,England,"3,098",116,"3,098"
3,India,25,104,25
4,New Zealand,"2,904",101,"2,904"
5,West Indies,27,97,27
6,Bangladesh,"2,820",78,"2,820"
7,Pakistan,24,59,24
8,Ireland,"2,425",47,"2,425"
9,Sri Lanka,24,44,24

**b) Top 10 women’s ODI Batting players along with the records of their team and rating.**

In [70]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'}
response = requests.get(url)
soup= BeautifulSoup(response.text, 'lxml')


Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Dataframe:
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})
ODI_Batmans

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Alyssa Healy,,785
1,2 ...,Beth Mooney,AUS,749
2,3 ...,Laura Wolvaardt,SA,732
3,4 ...,Natalie Sciver,ENG,725
4,5 ...,Harmanpreet Kaur,IND,716
5,6 ...,Smriti Mandhana,IND,714
6,7 ...,Meg Lanning,AUS,710
7,8 ...,Rachael Haynes,AUS,701
8,9 ...,Amy Satterthwaite,NZ,661
9,10 ...,Chamari Athapaththu,SL,655
10,11 ...,Ellyse Perry,AUS,642

**c) Top 10 women’s ODI all-rounder along with the records of their team and rating.**

In [71]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'}
response = requests.get(url)
soup= BeautifulSoup(response.text, 'html.parser')

Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})
ODI_Bowling

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Sophie Ecclestone,,739
1,2 ...,Jess Jonassen,AUS,725
2,3 ...,Megan Schutt,AUS,722
3,4 ...,Shabnim Ismail,SA,722
4,5 ...,Jhulan Goswami,IND,698
5,6 ...,Hayley Matthews,WI,671
6,7 ...,Kate Cross,ENG,657
7,8 ...,Ayabonga Khaka,SA,634
8,9 ...,Rajeshwari Gayakwad,IND,617
9,10 ...,Marizanne Kapp,SA,598
10,11 ...,Amelia Kerr,NZ,594

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
- i) Headline
- ii) Time
- iii) News Link

In [72]:
url7 = 'https://www.cnbc.com/world/?region=world'
page7 = requests.get(url7)
htmlContent7 = page7.content
soup7 = BeautifulSoup(htmlContent7,'html.parser')

In [73]:
# i) Headline

In [75]:
Head = []

for i in soup7.find_all('a',class_="LatestNews-headline"):
    Head.append(i.text)
#Head

In [208]:
# ii) Time:

In [76]:
Time = []

for i in soup7.find_all('span',class_="LatestNews-wrapper"):
    Time.append(i.text)
#Time

In [77]:
# iii) News Link:

In [78]:
links = soup7.find_all('a',class_ = "LatestNews-headline")
urls = [x['href'] for x in links]
#urls

In [79]:
print(len(Head),len(urls),len(Time))

30 30 30

In [80]:
# Storing data in Dataframe
df7 = pd.DataFrame({'Headline':Head,'Time':Time, 'News Link':urls})
df7

,Headline,Time,News Link
0,Obesity drugs are winning more support among d...,49 Min Ago,https://www.cnbc.com/2022/11/03/obesity-drugs-...
1,"Inflation to dampen holiday spending, retail t...",1 Hour Ago,https://www.cnbc.com/2022/11/03/inflation-to-d...
2,Trump advisor Patel granted immunity to testif...,1 Hour Ago,https://www.cnbc.com/2022/11/03/trump-news-kas...
3,American billionaires spent a record $880 mill...,1 Hour Ago,https://www.cnbc.com/2022/11/03/american-billi...
4,2022 election spending set to top $16.7 billio...,2 Hours Ago,https://www.cnbc.com/2022/11/03/2022-midterm-e...
5,Bezos sued by ex-housekeeper over working cond...,2 Hours Ago,https://www.cnbc.com/2022/11/03/amazon-founder...
6,NBA Commissioner Adam Silver speaks out agains...,2 Hours Ago,https://www.cnbc.com/2022/11/03/nba-commission...
7,Stocks are being punished more harshly for mis...,2 Hours Ago,https://www.cnbc.com/2022/11/03/investors-are-...
8,Stocks making the biggest moves midday: Under ...,2 Hours Ago,https://www.cnbc.com/2022/11/03/stocks-making-...
9,NYC's salary transparency law is off to a rock...,2 Hours Ago,https://www.cnbc.com/2022/11/03/nycs-new-salar...
10,Amazon pauses hiring for corporate workforce,2 Hours Ago,https://www.cnbc.com/2022/11/03/amazon-pauses-...
11,Short seller Jim Chanos says this 'crummy' com...,2 Hours Ago,https://www.cnbc.com/2022/11/03/short-seller-j...
12,Retail investors are dumping most of Big Tech ...,2 Hours Ago,https://www.cnbc.com/2022/11/03/retail-investo...
13,We're exiting a chip stock to raise cash in ca...,3 Hours Ago,https://www.cnbc.com/2022/11/03/were-exiting-a...
14,Value investors make a big comeback with one o...,3 Hours Ago,https://www.cnbc.com/2022/11/03/value-investor...
15,Jeep-maker Stellantis expects raw material inf...,3 Hours Ago,https://www.cnbc.com/2022/11/03/jeep-maker-ste...
16,Investing in Space: NASA and SpaceX need each ...,3 Hours Ago,https://www.cnbc.com/2022/11/03/investing-in-s...
17,Major glaciers in Kilimanjaro and Yosemite wil...,3 Hours Ago,https://www.cnbc.com/2022/11/03/major-glaciers...
18,CNBC cancels 'The News with Shepard Smith' to ...,3 Hours Ago,https://www.cnbc.com/2022/11/03/cnbc-cancels-t...
19,Lyft cuts 13% of its workforce,3 Hours Ago,https://www.cnbc.com/2022/11/03/lyft-cuts-13pe...
20,2 takeaways from our daily meeting: Selling in...,3 Hours Ago,https://www.cnbc.com/2022/11/03/2-takeaways-fr...
21,Tenbagger stocks that Wall Street believes can...,4 Hours Ago,https://www.cnbc.com/2022/11/03/tenbagger-stoc...
22,Accused Pelosi attacker could be deported afte...,4 Hours Ago,https://www.cnbc.com/2022/11/03/accused-paul-p...
23,Altice USA stock sinks after tough third quart...,4 Hours Ago,https://www.cnbc.com/2022/11/03/altice-usa-sto...
24,Close to 26 million Americans have applied for...,4 Hours Ago,https://www.cnbc.com/2022/11/03/close-to-26-mi...
25,UK faces longest recession since records began...,4 Hours Ago,https://www.cnbc.com/2022/11/03/bank-of-englan...
26,What to do if you test positive for Covid righ...,4 Hours Ago,https://www.cnbc.com/2022/11/03/what-to-do-if-...
27,Ukraine government is seeking alternatives to ...,4 Hours Ago,https://www.cnbc.com/2022/11/03/ukraine-govern...
28,Don't make these 5 virtual interview mistakes ...,5 Hours Ago,https://www.cnbc.com/2022/11/03/the-5-virtual-...
29,Magic mushroom compound psilocybin can help tr...,5 Hours Ago,https://www.cnbc.com/2022/11/03/magic-mushroom...

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles. Scrape below mentioned details :
- i) Paper Title 
- ii) Authors
- iii) Published Date 
- iv) Paper URL

In [81]:
url8 = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page8 = requests.get(url8)
htmlContent8 = page8.content
soup8 = BeautifulSoup(htmlContent8,'html.parser')

In [82]:
# i) Paper Title

Title = []

for i in soup8.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Title.append(i.text)
#Title

In [83]:
# ii) Authors

Authors = []

for i in soup8.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(i.text)
#Authors

In [84]:
# iii) Published Date

Published_date = []

for i in soup8.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    Published_date.append(i.text)
#Published_date

In [85]:
# iv) Paper URL

links = soup8.find_all('a',class_ = 'sc-5smygv-0 nrDZj')
urls = [x['href'] for x in links]
#urls

In [86]:
print(len(Title),len(Authors),len(Published_date),len(urls))

25 25 25 25

In [87]:
# Storing data in Dataframe:
df8 = pd.DataFrame({'Paper Title':Title,'Authors':Authors, 'Published Date':Published_date, 'Paper URL':urls})
df8.index += 1
df8

,Paper Title,Authors,Published Date,Paper URL
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :

- i) Restaurant name
- ii) Cuisine
- iii) Location 
- iv) Ratings
- v) Image URL

In [88]:
url9 = "https://www.dineout.co.in/delhi-restaurants/buffet-special"

page9 = requests.get(url9)

htmlContent9 = page9.content

soup9 = BeautifulSoup(htmlContent9,'html.parser')

In [90]:
#i) Restaurant name

Rest_name = []

for i in soup9.find_all('a',class_ ="restnt-name ellipsis"):
    Rest_name.append(i.text) 

#Rest_name

In [91]:
soupZ = BeautifulSoup('<a href="/delhi-restaurants/chinese-cuisine" data-w-onclick="stopClickPropagation|w1-restarant">Chinese</a>','html.parser')
soupZ.text

'Chinese'

In [92]:
#ii) Cuisine 

Cusine_name = []

for i in soup9.find_all('span',class_ = "double-line-ellipsis"):
    Cusine_name.append(i.text.split('|')[1]) 

#Cusine_name

In [93]:
#iii) Location

loc = []

for i in soup9.find_all('div',class_='restnt-loc ellipsis'):
    loc.append(i.text) 

#loc

In [94]:
#iv) Ratings:

Rate = []

for i in soup9.find_all('div',class_='restnt-rating rating-4'):
    Rate.append(i.text) 

#Rate

In [95]:
#v) Image URL:

img = []

for i in soup9.find_all('img',class_="no-img"):
    img.append(i.get('data-src'))
    
#img

In [96]:
import pandas as pd

df9 = pd.DataFrame({"Restaurant name": Rest_name,"Cuisine":Cusine_name,"Location":loc,"Ratings":Rate,"Image URL":img})
df9.index += 1
df9

,Restaurant name,Cuisine,Location,Ratings,Image URL
1,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
6,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
- i) Rank 
- ii) Publication
- iii) h5-index
- iv) h5-median

In [97]:
url10 = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'
page10 = requests.get(url10)
htmlContent10 = page10.content
soup10 = BeautifulSoup(htmlContent10,'html.parser')

# Creating Empty list
Publication = [] 
h5_index = [] 
h5_median = [] 

# Extracting Data of respective blocks:
Publication_block = soup10.find_all('td', class_ = 'gsc_mvt_t')
h5_index_block = soup10.find_all('a', class_ = 'gs_ibl gsc_mp_anchor')
h5_median_block = soup10.find_all('span', class_ = 'gs_ibl gsc_mp_anchor')

# appending data into respective lists:
Publication = [i.text for i in Publication_block]
h5_index = [j.text for j in h5_index_block]
h5_median = [k.text for k in h5_median_block]

# Creating DataFrame:
df10 = pd.DataFrame({'Publication':Publication,'h5_index':h5_index,'h5_median':h5_median})
df10.index.name = "RANK"
df10.index += 1
df10

                                            Publication h5_index h5_median
RANK
1                                                Nature      444       667
2                   The New England Journal of Medicine      432       780
3                                               Science      401       614
4     IEEE/CVF Conference on Computer Vision and Pat...      389       627
5                                            The Lancet      354       635
...                                                 ...      ...       ...
96                         Journal of Business Research      145       233
97                                     Molecular Cancer      145       209
98                                              Sensors      145       201
99                                Nature Climate Change      144       228
100                     IEEE Internet of Things Journal      144       212

[100 rows x 3 columns]